/**********************************************************************/
/*********************** GLOBAL VARIABLES *****************************/
/**********************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F8F9FF;
  color: #1A1A2E;
}

a {
  text-decoration: none;
}

/**********************************************************************/
/*********************** HEADER MOBILE FIRST **************************/
/**********************************************************************/
header {
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .burger-menu {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}
header nav {
  display: none;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0 2rem;
}
header nav a {
  color: #7592fe;
}
header nav.open {
  display: flex;
}

/**********************************************************************/
/*********************** FOOTER MOBILE FIRST **************************/
/**********************************************************************/
footer {
  background-color: #0f0f12;
  margin-top: 1rem;
  padding: 1rem;
}
footer p {
  text-align: center;
  color: white;
}

/**********************************************************************/
/*********************** INDEX MOBILE & TABLET ************************/
/**********************************************************************/
.ind-content h1,
.ind-content p {
  margin: 2rem 5rem;
  text-align: center;
}

.ind-buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.ind-buttons a {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #5d80ff;
  color: white;
}

.ind-image {
  text-align: center;
}

/**********************************************************************/
/*********************** PAGE SIGNUP MOBILE FIRST **********************/
/**********************************************************************/
.role-signup {
  text-align: center;
}
.role-signup h1 {
  margin-top: 4rem;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}
.signup .container-signup {
  width: 50%;
  max-width: 500px;
}
.signup .container-signup form {
  display: flex;
  flex-direction: column;
}
.signup .container-signup form label {
  margin-bottom: 0.75rem;
}
.signup .container-signup form input {
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.signup .container-signup form button {
  padding: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  width: 30%;
  color: white;
  background-color: #5d80ff;
}

/*********************** MOD TABLET ***********************************/
/*********************** MOD DESKTOP ***********************************/
@media screen and (min-width: 769px) {
  /*********************** HEADER MOD DESKTOP ***************************/
  header .burger-menu {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  /*********************** FOOTER MOD DESKTOP ***************************/
  footer p {
    text-align: left;
  }
  /*********************** INDEX MOD DESKTOP ***************************/
  .ind {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
  }
  .ind-image {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
